<div class="title">
  <div class="scroll">
  <h1><span>保存が完了しました!!</span></h1>
  </div>
</div>

<div class="log">
  <%= link_to(posts_path) do %>
    <button class="button">トップページ</button> 
  <% end %>
</div>