<div class="container">
    Daving Log
</div>

<div class="log">
    <% @posts.each do |post| %>
      <%= link_to "Dive NO.#{post.time}",post_path(post.id), class: "top"%> 
    <% end %>
    <%= link_to(posts_new_path) do %>
      <button class="button">投稿ページへ!!!</button>
    <% end %>
</div>